---
section: gallery-index
isHorizontal: true
barbaNamespace: home

---

{% extends "./layout.njk" %}

{% block content %}

  <main class="" >
    <div class=" page-content">
      <h1>{{ title }}</h1>
      <!-- BEGIN content -->
      <div class="content padding-xxxl">

        <!-- BEGIN item -->
        <a href="/gallery/this-is-the-first-gallery" class="item margin-x-xxl">
          <img src="/images/texture.jpeg" class="js-image" alt=""/>
          <h2>Item 1</h2>
          <p>And some very interesting description.</p>
        </a>
        <!-- END item -->
        <!-- BEGIN item -->
        <a href="/gallery/this-is-the-second-gallery" class="item margin-x-xxl">
          <img src="/images/texture.jpeg" class="js-image" alt=""/>
          <h2>Item 2</h2>
          <p>And some very interesting description.</p>
        </a>
        <!-- END item -->
        <!-- BEGIN item -->
        <a href="/gallery/this-is-the-third-gallery" class="item margin-x-xxl">
          <img src="/images/texture.jpeg" class="js-image" alt=""/>
          <h2>Item 3</h2>
          <p>And some very interesting description.</p>
        </a>
        <!-- END item -->
        <!-- BEGIN item -->
        <a href="/gallery/this-is-the-fourth-gallery" class="item margin-x-xxl">
          <img src="/images/texture.jpeg" class="js-image" alt=""/>
          <h2>Item 4</h2>
          <p>And some very interesting description.</p>
        </a>
        <!-- END item -->
        <!-- BEGIN item -->
        <a href="/gallery/this-is-the-fifth-gallery" class="item margin-x-xxl">
          <img src="/images/texture.jpeg" class="js-image" alt=""/>
          <h2>Item 5</h2>
          <p>And some very interesting description.</p>
        </a>
        <!-- END item -->
        <!-- BEGIN item -->
        {# <a href="/gallery/this-is-the-fourth-gallery" class="item margin-x-xxl">
          <img src="/images/texture.jpeg" class="js-image" alt=""/>
          <h2>Item 6</h2>
          <p>And some very interesting description.</p>
        </a> #}
        <!-- END item -->
        <!-- BEGIN item -->
        {# <a href="/gallery/this-is-the-fifth-gallery" class="item margin-x-xxl">
          <img src="/images/texture.jpeg" class="js-image" alt=""/>
          <h2>Item 7</h2>
          <p>And some very interesting description.</p>
        </a> #}
        <!-- END item -->
        <!-- BEGIN item -->
        {# <a href="/gallery/this-is-the-fourth-gallery" class="item margin-x-xxl">
          <img src="/images/texture.jpeg" class="js-image" alt=""/>
          <h2>Item 8</h2>
          <p>And some very interesting description.</p>
        </a> #}
        <!-- END item -->
        <!-- BEGIN item -->
        {# <a href="/gallery/this-is-the-fifth-gallery" class="item margin-x-xxl">
          <img src="/images/texture.jpeg" class="js-image" alt=""/>
          <h2>Item 9</h2>
          <p>And some very interesting description.</p>
        </a> #}
        <!-- END item -->
      </div>
      <!-- END content -->
    </div>
  </main>
{% endblock %}