---
section: page
barbaNamespace: default
---

{% extends "./layout.njk" %}

{% block content %}
  <main class="" >
    <div class="page-content">
      <div class="padding-y-xl"></div>
      <div class="container">
        <h1>{{ title }}</h1>
        {{ content | safe }}</div>

    </div>
  </main>
{% endblock %}