---
section: home
barbaNamespace: default
---

{% extends "./layout.njk" %}

{% block content %}
  <main class="page-content" asscrollRAF-container>
    <div class="container o-richtext">
      <h1>{{ pageTitle }}</h1>
      {{ content | safe }}
    </div>
  </main>
{% endblock %}