---

section: gallery-item
barbaNamespace: inside
---

{% extends "./layout.njk" %}

{% block content %}

  <main class="" >

    <!-- BEGIN content -->
    <div class="page-content inside">

      <!-- BEGIN item -->

      <div
                  class="gallery__banner z-index-popover position-relative flex flex-column justify-end"
                  style="background-image: url(/images/texture.jpeg)"
                >

        <div class="gallery__title padding-xl ">
          <h1 >{{ pageTitle }}</h1>

        </div>
      </div>
      <div class="container padding-y-xxl" >
        {% include "./partials/image-gallery.njk" %}
      </div>

      <!-- END item -->
    </div>
    <!-- END inside -->

  </main>

{% endblock %}