---

section: gallery-item
barbaNamespace: inside
---
{% set previousPhotoshoot = collections.photoshoot | getPreviousCollectionItem(page) %}
{% set nextPhotoshoot = collections.photoshoot | getNextCollectionItem(page) %}

{% extends "./layout.njk" %}

{% block content %}

  <main class="" >

    <!-- BEGIN content -->
    <div class="page-content inside">

      <!-- BEGIN item -->

      <div
                  class="gallery__banner z-index-popover position-relative flex flex-column justify-end"
                  style="background-image: url(/images/texture.jpeg)"
                >

        <div class="gallery__title padding-xl ">
          <h1 >{{ title }}</h1>

        </div>
      </div>

      <div class="container padding-y-xxl" >
        {% include "./partials/image-gallery.njk" %}
      </div>
      <div class="gallery-container w-2 h-2">

        {% if previousPhotoshoot %}Previous Photoshoot: <a class="link-subtle" href="{{ previousPhotoshoot.url }}">{{ previousPhotoshoot.data.title }}</a>
        {% endif %}
        {% if nextPhotoshoot %}Next Blog Photoshoot: <a class="link-subtle" href="{{ nextPhotoshoot.url }}">{{ nextPhotoshoot.data.title }}</a>
        {% endif %}

      </div>

      <!-- END item -->
    </div>
    <!-- END inside -->

  </main>

{% endblock %}