<div class=" position-relative z-index-1 padding-y-xl">
  <div class="container max-width-adaptive-md">
    <div class="bg inner-glow shadow-xs radius-md overflow-hidden">
      <div class="grid">
        {# <figure class="height-xxl height-auto@md col-4@md">
          <img class="block height-100% width-100% object-cover" src="/images/water.jpeg" alt="Image description">
        </figure> #}

        <div class="padding-md col-8@md">
          <form>
            <fieldset class="margin-bottom-md">
              <legend class="form-legend">Form Legend</legend>

              <div class="margin-bottom-xs">
                <div class="grid gap-xs">
                  <div class="col-6@md">
                    <label class="form-label margin-bottom-xxs" for="firstName">First Name</label>
                    <input class="form-control width-100%" type="text" name="firstName" id="firstName" required>
                  </div>

                  <div class="col-6@md">
                    <label class="form-label margin-bottom-xxs" for="lastName">Last Name</label>
                    <input class="form-control width-100%" type="text" name="lastName" id="lastName">
                  </div>
                </div>
              </div>

              <div class="margin-bottom-xs">
                <label class="form-label margin-bottom-xxs" for="inputEmail">Email</label>
                <input class="form-control width-100%" type="email" name="inputEmail" id="inputEmail" placeholder="email@myemail.com">
              </div>

              <div>
                <label class="form-label margin-bottom-xxs" for="textarea">Textarea</label>
                <textarea class="form-control width-100%" name="textarea" id="textarea"></textarea>
                <p class="text-xs color-contrast-medium margin-top-xxs">Use helper text to provide additional information.</p>
              </div>
            </fieldset>

            <fieldset class="margin-bottom-md">
              <legend class="form-legend">Checkboxes</legend>

              <div class="flex flex-wrap gap-md">
                <div>
                  <input class="checkbox" type="checkbox" id="checkbox1">
                  <label for="checkbox1">Option 1</label>
                </div>

                <div>
                  <input class="checkbox" type="checkbox" id="checkbox2">
                  <label for="checkbox2">Option 2</label>
                </div>
              </div>
            </fieldset>

            <div class="text-right padding-top-sm border-top">
              <button class="btn btn--primary">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>