<footer class="footer">
  <nav class="footer__nav padding-lg">
    <ul class="footer__list flex justify-between ">
      <li>
        <small>
          Photographer
        </small>
      </li>
      <li>
        <small>&copy;
          {{ metadata.author.name }}
          {{ page.date.getFullYear() }}
        </small>
      </li>
      <li>
        <small>
          5/13
        </small>
      </li>
    </ul>
  </nav>
</footer>